<app-nav></app-nav>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2>Login Form</h2>
    <!-- Icon -->


    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="email" id="login" class="fadeIn second" formControlName="email" name="login" placeholder="email">
      <input type="password" id="password" class="fadeIn third" formControlName="password" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" [disabled]="!loginForm.valid" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>