<div class="fb-clone-card">
    <!-- Button trigger modal -->
        <div class="input-group">
          <input class="form-control" type="text" data-toggle="modal" data-target="#myModal" placeholder="Make a chizmis...">
          <span class="input-group-btn">
          </span>
        </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
    
                  <section class="post">
                    <div>
                        <button type="button" class="close" style="padding: 20px;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <header>Create chizmis</header>
                    
                    </div>
                    <div class="content">
                        <img src="../assets/uploads/1.png" alt="logo">
                        <div class="details">
                          <p>{{user.email}}</p>
                          <div class="privacy">
                            <i class="fas fa-user-friends"></i>
                            <span>Friends</span>
                            <!-- <i class="fas fa-caret-down"></i> -->
                          </div>
                        </div>
                      </div>
                    <form id="postForm" [formGroup]="postForm" (ngSubmit)="post()">
                      <textarea name="content" placeholder="What's on your mind?" formControlName="content" spellcheck="false" required></textarea>
                      <input type="hidden" formControlName="email" [(ngModel)]="user.email">
                      <button type="submit" [disabled]="!postForm.valid">Post</button>
                    </form>
                  </section>
        </div>
    </div>
    </div>
    