<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<app-nav></app-nav>
<div class="fb-cards-designs" *ngIf="authenticated">
    <div class="fb-clone-card">
        <!-- Button trigger modal -->
            <div class="input-group">
              <input class="form-control" type="text" data-toggle="modal" data-target="#myModal" placeholder="Make a chizmis...">
              <span class="input-group-btn">
              </span>
            </div>
    </div>
    <div class="fb-clone-card">
            <div class="fb-card-main-content">
                <div class="fb-card-header">
                    <div class="user-post-info">
                        <div class="user-thumb">
                            <img src="https://randomuser.me/api/portraits/women/46.jpg" class="img-responsive" />
                        </div>
                        <div class="user-information">
                            <p>{{user.email}}</p>
                            <small>1 hr</small>
                        </div>
                    </div>
                    <div class="post-action">
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
                </div>

                <div class="fb-card-body simple-text-card simple-image-card">
                    <p>Sample Chika</p>
                    <!-- <div class="images-container">
                        <img src="https://raw.githubusercontent.com/karthikricssion/facebook-card-design/master/assets/images/sample_joker_poster.jpg" class="img-responsive" />
                    </div> -->
                </div>

            </div>

            <div class="fb-card-like-comment-holder">
                <div class="fb-card-like-comment">
                    <div class="likes-emoji-holder">
                        <span>14 Likes</span>
                    </div>
                    <div class="like-comment-holder">
                        <span>10 Commnets</span>
                    </div>
                </div>
            </div>

            <div class="fb-card-actions-holder">
                <div class="fb-card-actions">
                    <div class="fb-btn-holder">
                        <a href="#" onclick="alert('Like')"><i class="fa fa-thumbs-up"></i> Like</a>
                    </div>
                    <div class="fb-btn-holder">
                        <a href="#" onclick="alert('Comment')"><i class="fa fa-comment"></i> Comment</a>
                    </div>
                    <div class="fb-btn-holder">
                        <a href="#" onclick="alert('Share')"><i class="fa fa-share-square"></i> Share</a>
                    </div>
                </div>
            </div>

            <div class="fb-card-comments">
                <div class="comment-input-holder">
                    <div class="user-thumb">
                        <img src="https://randomuser.me/api/portraits/women/85.jpg" class="img-responsive" />
                    </div>
                    <div class="comment-input">
                        <div class="comment-box" placeholder="Write a comment..." contenteditable="true" placeholder="write a comment"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="created-by" style="text-align:center;margin-bottom:16px;">
</div>

<!-- <div class="fb-cards-designs" *ngIf="!authenticated">
    <div class="fb-clone-card">
            <div class="fb-card-main-content">
                <div class="fb-card-header">
                    <div class="user-post-info">
                        <div class="user-information">
                            <h4>{{mes}}</h4>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div> -->
<!-- MODAL POST -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
              <section class="post">
                <header>Create chizmis</header>
                <form [formGroup]="postForm">
                  <div class="content">
                    <img src="../assets/uploads/1.png" alt="logo">
                    <div class="details">
                      <p>{{user.email}}</p>
                      <div class="privacy">
                        <i class="fas fa-user-friends"></i>
                        <span>Friends</span>
                        <!-- <i class="fas fa-caret-down"></i> -->
                      </div>
                    </div>
                  </div>
                  <textarea placeholder="What's on your mind?" formControlName="chika" spellcheck="false" required></textarea>
                  <button type="submit" [disabled]="!postForm.valid" (click)="post()">Post</button>
                </form>
              </section>
    </div>
</div>
</div>